[Unit]
Description=Test App
After=network.target nss-lookup.target

[Service]
WorkingDirectory=/srv/app/
ExecStart=/srv/app/.venv/bin/python -m gunicorn -w {{testapp_workers}} -b 0.0.0.0:{{testapp_port}} testapp:app
User=testadm

[Install]
WantedBy=multi-user.target